@charset "UTF-8";

@font-face {
    font-family: "NanumBarunGothic";
    src: url("../font/NanumBarunGothic.ttf");
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.messageBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.message {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    transition: opacity .6s, top .6s;
    top: 30px;
    opacity: 1;
}

.message.hide {
    top: -100px;
    opacity: 0;
}