@charset "UTF-8";

body {
    background-color: #f6f7fc;
}

.parentForm {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    background-color: #fff;
    border-radius: 3px;
}

.passwordFind {
    text-decoration: underline;
}

.error {
    color: #f0506e;
}